<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  
 <!--Tony Liew 20190328 \/ -->
  <appSettings>
    <add key="AWSS3AccessKey" value="AKIAJBBFHG4PXL7J26NQ" />
    <add key="AWSS3SecretKey" value="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" />
    <add key="S3ImageUrl" value="https://residential-dev.s3.ap-southeast-1.amazonaws.com" />
    <add key="PictureS3Bucket" value="residential-dev" />
  </appSettings>
  <!--Tony Liew 20190328 /\ -->
  
</configuration>