<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="00:07:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
      <environmentVariables />
    </aspNetCore>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  <!--Tony Liew 20190328 \/ -->
  <appSettings>
    <add key="AWSS3AccessKey" value="AKIAJBBFHG4PXL7J26NQ" />
    <add key="AWSS3SecretKey" value="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" />
    <add key="S3ImageUrl" value="https://residential-dev.s3.ap-southeast-1.amazonaws.com" />
    <add key="PictureS3Bucket" value="residential-dev" />
  </appSettings>
  <!--Tony Liew 20190328 /\ -->
  
</configuration>