@{
    Layout = "_Root.Head";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    //Html.AppendPageCssClassParts("html-contact-page");
}

<body>
    <h1>FAQ</h1>

    <div class="faq-body">
        <h3 class="faq-questions">What is a MaxisONE 4G Combo Plan?</h3>
        <p class="faq-answer">MaxisONE 4G Combo Plan(s) is a bundle plan which gives two (2) lines – 1 Home internet line and 1 Mobile line. This plan is only available in East Malaysia.</p>
        </br>

        <h3 class="faq-questions">What is a MaxisONE 4G Combo Plan?</h3>
        <p class="faq-answer">MaxisONE 4G Combo Plan(s) is a bundle plan which gives two (2) lines – 1 Home internet line and 1 Mobile line. This plan is only available in East Malaysia.</p>
        </br>

        <h3 class="faq-questions">What is a MaxisONE 4G Combo Plan?</h3>
        <p class="faq-answer">MaxisONE 4G Combo Plan(s) is a bundle plan which gives two (2) lines – 1 Home internet line and 1 Mobile line. This plan is only available in East Malaysia.</p>
        </br>

        <h3 class="faq-questions">What is a MaxisONE 4G Combo Plan?</h3>
        <p class="faq-answer">MaxisONE 4G Combo Plan(s) is a bundle plan which gives two (2) lines – 1 Home internet line and 1 Mobile line. This plan is only available in East Malaysia.</p>
        </br>

        <h3 class="faq-questions">What is a MaxisONE 4G Combo Plan?</h3>
        <p class="faq-answer">MaxisONE 4G Combo Plan(s) is a bundle plan which gives two (2) lines – 1 Home internet line and 1 Mobile line. This plan is only available in East Malaysia.</p>
        </br>

        <h3 class="faq-questions">What is a MaxisONE 4G Combo Plan?</h3>
        <p class="faq-answer">MaxisONE 4G Combo Plan(s) is a bundle plan which gives two (2) lines – 1 Home internet line and 1 Mobile line. This plan is only available in East Malaysia.</p>
        </br>

        <h3 class="faq-questions">What is a MaxisONE 4G Combo Plan?</h3>
        <p class="faq-answer">MaxisONE 4G Combo Plan(s) is a bundle plan which gives two (2) lines – 1 Home internet line and 1 Mobile line. This plan is only available in East Malaysia.</p>
        </br>

    </div>
</body>
