@{
    Layout = "_Root.Head";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    //Html.AppendPageCssClassParts("html-contact-page");
}

<body>
    <h1>Privacy Policy</h1>

    <div class="faq-body">
        <ol class="ol_custom">
            <li>
                <b>Introduction - What you need to know about our Policy</b><br>
                <ol class="" style="padding-left: 7px; margin-left: 0px;">
                    <li>This Fair Usage Policy (&quot;Policy&quot;) sets out an acceptable level of conduct between Maxis and you when using the Service(s). We believe that all users should be responsible in their usage and how it affects other users.</li>
                    <li>To maintain the quality and performance of our Service(s) and to ensure the highest level of service performance for all users - which could be disrupted by usage patterns of a small number of customers - we have established this Fair Use Policy (&quot;Policy&quot;) for the Service(s). This Policy is designed to prevent the abuse of our Service(s). Our Service(s) are for use only in accordance with the General Terms &amp; Conditions (&quot;GTC&quot;), the Summary Terms &amp; Conditions (&quot;STC&quot;) and Service Specific Terms and Conditions (&quot;SSTC&quot;) applicable to you.</li>
                    <li>If you need a 1:1 service and exclusive access to your bandwidth, you will need an internet leased line.</li>
                    <li>This Policy is in place with a view to ensure all customers have a good user experience.</li>
                    <li>We may, from time to time, change this Policy, which will be posted on our official website at www.maxis.com.my/FUP. Please visit our official website regularly to determine any changes to this Policy. Your continued use of the Service(s) after the Effective Date of any revisions/changes to the Policy constitutes unconditional acceptance by you of such revisions/changes and you shall be bound by the same.</li>
                    <li>This Policy supplements the GTC, SSTC and STC for the Service(s).</li>
                </ol>
            </li>
            <br>
            <li>
                <b>Non-Legitimate Use - What constitutes as non-legitimate use</b><br>
                <ol class="lo-points ls-lvl3" style="padding-left: 7px; margin-left: 0px;">
                    <li>
                        The non-exhaustive list of practices that would be considered Non-Legitimate Use are:<br>
                        <ul class="lower-list" style="padding-left: 1px; margin-left: 0px;">
                            <li><span style="left: -4px; margin-right: 33px;">a. </span>Calling or sending SMS’ (whether individually, sequentially or automatically) to generate income for yourself or others, other than for your individual business communications;</li>
                            <li><span style="left: -4px; margin-right: 33px;">b. </span>Using our Service(s), minutes, SMS' or data except for Maxis Enterprise SMS &amp; MMS services (SIM boxing, bulk SMS service or aggregate minutes) wholesale on our Network;</li>
                            <li><span style="left: -4px; margin-right: 33px;">c. </span>Using the Service(s) in connection with a device, software or applications which reroutes calls or allows the sending of bulk SMS' to or from our Network or the network of any supplier;</li>
                            <li><span style="left: -4px; margin-right: 33px;">d. </span>Setting up switch devices which could keep a line open potentially for hours and limiting the ability for other customers to access our network;</li>
                            <li><span style="left: -4px; margin-right: 33px;">e. </span>Unusual calling patterns inconsistent with normal, individual plan use, for example, regular calls of short duration or calls to multiple numbers in a short period of time;</li>
                            <li><span style="left: -4px; margin-right: 33px;">f. </span>Using our Service(s) or any part thereof, for commercial purposes, unless you are on the office/corporate packages;</li>
                            <li><span style="left: -4px; margin-right: 33px;">g. </span>Sending or uploading unsolicited electronic messages through various communication modes, not limited to, e-mails, SMS’ or instant messaging services where there is no prior relationship between the sender and the recipient, whether or not the content is commercial or non-commercial, advertising or promotional materials, offers to sell any goods or services, or conducting or forwarding surveys, contests or chain letters;</li>
                            <li><span style="left: -4px; margin-right: 33px;">h. </span>Excessive usage of the Service(s) including usage of certain software applications which may cause network congestion and negatively impair other customers' usage including without limitation sending or receiving files containing very large amounts of data (including without limitation traffic from peer-to-peer software or applications i.e. Bit Torrent, eDonkey, Gnutella) or using file sharing software (such as Limewire, etc.); and</li>
                            <li><span style="left: -4px; margin-right: 33px;">i. </span>Any repeated, unusual or abusive patterns involving change of rate plans or recurring Mobile Internet passes. They are abuse of change in rate plans or use of Mobile Internet passes; and will be disallowed.</li>
                        </ul>
                    </li>
                </ol>
            </li>
            <br>
            <li>
                <b>Unlawful Activities – What constitutes unlawful activities</b><br>
                <ol class="lo-points ls-lvl3" style="padding-left: 7px; margin-left: 0px;">
                    <li>In using the Service(s), you must conform to and abide by the laws of Malaysia and not permit any illegal use or such use that will discredit Maxis.</li>
                    <li>
                        We consider your use of the Service(s) to be UNLAWFUL if you are:<br>
                        <ul class="lower-list" style="padding-left: 1px; margin-left: 0px;">
                            <li><span style="left: -4px; margin-right: 33px;">a. </span>sending, receiving, publishing, posting, distributing, disseminating, encouraging the receipt of, uploading, downloading or using any material which is offensive, abusive, defamatory, indecent, obscene, unlawful, harassing or menacing or a breach of the copyright, trademark, intellectual property, confidence, privacy or any other rights of any person;</li>
                            <li><span style="left: -4px; margin-right: 33px;">b. </span>knowingly or negligently transmitting or uploading any electronic material(s) or SMS’ or messages (including, without limitation, files that contain viruses, corrupted files, or any other similar software or programs) which is known or likely to cause, interrupt, damage, destroy or limit the functionality of any computer software, hardware or telecommunication equipment owned by Maxis or any other internet user or person;</li>
                            <li><span style="left: -4px; margin-right: 33px;">c. </span>allowing activities that invade another's privacy or cause annoyance or inconvenience to any person;</li>
                            <li><span style="left: -4px; margin-right: 33px;">d. </span>allowing activities in breach of any other third party's rights, including downloading, installation or distribution of pirated software or other inappropriately licensed software, deletion of any author attributions, legal notices or propriety designations or labels in any file that is uploaded, falsification of the origin or source of any software or other material;</li>
                            <li><span style="left: -4px; margin-right: 33px;">e. </span>allowing anything that may disrupt or interfere with Maxis' Network or Service(s) or causes a host or the Network to crash;</li>
                            <li><span style="left: -4px; margin-right: 33px;">f. </span>launching &quot;denial of service&quot; attacks, &quot;mail-bombing&quot; attacks, &quot;spamming&quot; or &quot;flooding&quot; attacks against a host, our Network or network;</li>
                            <li><span style="left: -4px; margin-right: 33px;">g. </span>making excessive use of, or placing unusual burdens on, the Network, e.g., by sending or receiving large volumes of emails or SMS’ or messages or excessively large mail attachments;</li>
                            <li><span style="left: -4px; margin-right: 33px;">h. </span>circumventing the user authentication or security process of a host, our Network or network;</li>
                            <li><span style="left: -4px; margin-right: 33px;">i. </span>creating, transmitting, storing or publishing any virus, Trojan, corrupting programme or corrupted data.</li>
                        </ul>
                    </li>
                </ol>
            </li>
            <br>
            <li>
                <b>Security - What you need to know and do to ensure security of your use of the Service(s)</b><br>
                <ol class="lo-points ls-lvl3" style="padding-left: 7px; margin-left: 0px;">
                    <li>Each customer MUST ENSURE that his or her User ID and/or password, remain confidential at all times.</li>
                    <li>We may request that you change your User ID and/or password if deemed necessary.</li>
                    <li>You must not disclose your User ID and/or password to any third party, or use the same for any purpose connected with the improper use of the Network including accessing or attempting to access other parts of the Service(s) for which you do not have access rights.</li>
                    <li>You are responsible for taking all reasonable steps necessary to prevent a third party from obtaining access to the Network.</li>
                    <li>You must immediately advise us if you become aware of any violation or suspected violation of the provisions of this Policy.</li>
                    <li>You are responsible for the set-up and security of your computer and or any device and any servers that you may run on your computer or any device.</li>
                    <li>We strongly recommend that you protect your computer and/or device with anti-virus software.</li>
                </ol>
            </li>
            <br>
            <li>
                <b>General Use of Service and Abuse - What you need to know and comply with in respect of your use of the Service(s)</b><br>
                <ol class="lo-points ls-lvl3" style="padding-left: 7px; margin-left: 0px;">
                    <li>You must be at least 18 years old and/or our Business Customer and/or contract staff or employee of a Business Customer to be our customer. Sub-users under this age must have permission from the account holder or from your parent or guardian to access our Service(s).</li>
                    <li>You must not run port-scanning software on any of Our Service(s).</li>
                    <li>You must not attempt to gain unauthorised access to any computer system.</li>
                    <li>You must not undertake any activity that has an adverse effect on our Service(s).</li>
                    <li>You must not use the Service(s) to run programs or servers that provide network content or connectivity to any third party not at the location where the connection is installed. Examples of prohibited programs include, but are not limited to, mail, FTP, HTTP, game, newsgroup, proxy, and IRC servers.</li>
                    <li>You must not resell or otherwise charge others for the use of your internet connection. The Service(s) is for recreational, residential, personal use only and may not be used for operations of an internet service provider unless authorised by us.</li>
                    <li>Office Package customers may host one (1) email (POP3, SMTP, and/or IMAP) and/or one (1) web (HTTP and/or HTTPS) server for the sole use of that organization. These servers may not be used to host other services through the wireless connection or host email or web services for other organizations.</li>
                    <li>Maxis may automatically disconnect your internet session after a period of inactivity, which may vary from 20 minutes to 30 minutes. This automatic disconnection is to allow maximum network performance.</li>
                </ol>
            </li>
            <br>
            <li>
                <b>Enforcement on Breach of Policy</b><br>
                <ol class="lo-points ls-lvl3" style="padding-left: 7px; margin-left: 0px;">
                    <li>In the event that you are in violation of this Policy, we may, at our option and discretion, have your bandwidth managed, Service(s) suspended or terminated (with or without notice as we consider appropriate).</li>
                    <li>If we reconnect your Service(s) at our discretion, a reconnection fee may be charged for us to reactive your Service(s).</li>
                    <li>You must report any illegal, unlawful or unacceptable use of our Service(s). For individual customers, please send an email to <a href="mailto:customercare@maxis.com.my">customercare@maxis.com.my</a> and for our Corporate/ Business customers, please call us at <a href="tel:1800 82 1919">1800 82 1919</a> or send an email to Biz Care at <a href="mailto:BIZCARE@maxis.com.my">BIZCARE@maxis.com.my</a>.</li>
                </ol>
            </li>
        </ol>

    </div>
</body>
