@{
    Layout = "_Root.Head";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    //Html.AppendPageCssClassParts("html-contact-page");
}

<body>
    <h1>Terms and Conditions</h1>
    <div class="faq-body">
        <p class="bold">General</p>
        <ol>
            <li><b>The Plan(s)</b><b>:</b>&nbsp;Comprises of MaxisONE Plan 98, 108, 128, 158, 188, 248 &amp; 368, as well as MaxisONE Plan lite &amp; start Postpaid plans.</li>
            <li><b>You:</b> Person(s) signing up for the MaxisONE Plan.</li>
            <li>If you change your current rate plan to the new MaxisONE Plan, you will not be able to carry forward any promotions/benefits that you are currently enjoying under your existing rate plan to your new MaxisONE Plan subscribed to.</li>
            <li>The use of the Plan(s) and Service(s) is subject to the General Terms &amp; Conditions (“GTC”), Service Specific Terms &amp; Conditions (“SSTC”), Maxis Fair Usage Policy and any other applicable terms and conditions, all at <a href="https://www.maxis.com.my/en/tnc/personal-tnc.html">www.maxis.com.my/tnc/personal</a>.</li>
            <li>Capitalised terms herein have the same meaning as defined in the GTC.</li>
            <li>Any conflict or inconsistency between this SSTC, the GTC and Summary Terms and Conditions (“STC”), shall be construed in the following order of precedence: (a) SSTC; (b) GTC; and (c) STC.</li>
            <li>We reserve the rights without liability, to revise this SSTC, Plan(s) and our pricing. Where reasonably practicable, we will give you reasonable advance notice of such changes and all previous versions of our user guides or leaflets will be superseded. You accept you are responsible for regularly reviewing information on the Plan(s) and Service(s) at <a href="https://www.maxis.com.my/en/tnc.html">www.maxis.com.my/tnc</a>), including changes to the Agreement. Your continued use of the Service(s) and/or Plan(s) (after the Effective Date of any revision/change to the terms and conditions of Services and/or Plan(s)) shall constitute unconditional acceptance by you of such revisions/changes and you shall be bound by the same. If you do not accept such revisions/changes, you will terminate the Plan(s) and/or the use of the Services by giving us notice within 28 days from the Effective Date failing which you are assumed to have accepted the changes.</li>
        </ol>
        <hr>

        <p class="bold">Eligibility</p>
        <ol start="8">
            <li>You are ineligible for this Plan(s) if you owe us any payments.</li>
            <li>This Plan(s) is inapplicable to you if you are a commercial user and/or bulk subscriber.</li>
        </ol>
        <hr>

        <p class="bold">Charges</p>
        <ol start="10">
            <li>The Plan(s) structure is in the appended Appendix and also published on our official website at <a href="http://www.maxis.com.my">www.maxis.com.my</a>, as updated by us from time to time. Charges published are exclusive of all applicable taxes including GST.</li>
        </ol>
        <hr>

        <p class="bold">Unlimited Minutes and SMS'</p>
        <ol start="11">
            <li>
                You acknowledge and accept, for the voice &amp; SMS' allocated with the Plan(s) that the unlimited minutes and SMS' applies to:<ul class="list-lower">
                    <li>Domestic mobile ON-net usage (Maxis to Maxis calls and SMS’) for MaxisONE Plan lite &amp; start (excluding OFF-net usage (calls and SMS’ from Maxis to other Service Provider), calls to fixed lines, video calls, calls to numbers with special charges e.g. 1-300/1-700/600 &amp; 121, TM100, 1MOCC and 080-prefix numbers for border calls to Brunei).</li>
                    <li>Domestic mobile/fixed ON-net &amp; OFF-net usage for MaxisONE Plan 98, 108, 128, 158 &amp; 188 (excluding, video calls, calls to numbers with special charges e.g. 1-300/1-700/600, 121, TM100, 1MOCC &amp; 080-prefix numbers for border calls to Brunei).</li>
                    <li>standard person-to-person calls or texts and not for any commercial and/ or non-personal usage;</li>
                    <li>non multiple simultaneous calling, conference calling (unless you are subscribed to the conference calling service with Maxis), re-supply, call centre usage, telemarketing, bulk messaging, application-to-person communication, continuously call forwarding, auto-dialing, machine-to-machine communication (including by using your SIM card in any other devices), Cellular Trunking Units (CTUs), or any other activity we consider to be non-standard usage.</li>
                </ul>
            </li>
        </ol>
    </div>
</body>
