@model PromotionsModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="promotion-edit">
            <nop-tab asp-name="tab-info" asp-title="@T("Admin.ContentManagement.Announcements.PromotionsItems.Info")" asp-default="true">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-tab>
            <nop-tab asp-name="tab-Chinese" asp-title="@T("Admin.ContentManagement.Announcements.PromotionsItems.Info.ChineseTab")" >@await Html.PartialAsync("_CreateOrUpdate.Info.ChineseTab", Model)</nop-tab>

        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "promotion-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}